rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner() {
      return request.auth != null
        && request.auth.uid == "WEiG6kSNz4P4AOA58ROJhLzbZP63";
    }

    match /users/{uid} {
      allow read, write: if isOwner() && uid == "WEiG6kSNz4P4AOA58ROJhLzbZP63";

      match /{document=**} {
        allow read, write: if isOwner() && uid == "WEiG6kSNz4P4AOA58ROJhLzbZP63";
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
